section {
    &.sec-padding {
        padding: 80px 0;
    }
    .section-title {
        padding: 0 15px;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        h2 {
            font-size: 40px;
            text-transform: capitalize;
        }
    }
    .about-img {
        width: 40%;
        padding: 70px 15px;
        .img-box {
            background-color: $white-alpha-25;
            text-align: center;
            max-width: 380px;
            border: 2px solid $white-alpha-40;
            border-radius: 20px;
            margin: auto;
            img {
                width: 100%;
                border-radius: 20px;
            }
        }
    }
    .about-text {
        width: 50%;
        padding: 0 15px;
        p {
            font-size: 15px;
        }
        h3 {
            text-transform: capitalize;
            font-size: 20px;
            margin: 20px 0;
        }
        .skills {
            display: flex;
            flex-wrap: wrap;
            .skill-item {
                font-size: 10px;
                background-color: $white-alpha-25;
                border: 1px solid $white-alpha-40;
                padding: 8px 15px;
                text-transform: capitalize;
                margin: 0 10px 10px 0;
                border-radius: 20px;
            }
        }
        .about-tabs {
            .tab-item {
                padding: 2px 0;
                background-color: transparent;
                border: none;
                text-transform: capitalize;
                display: inline-block;
                color: $blue-dark;
                font-size: 20px;
                cursor: pointer;
                font-weight: 500;
                margin: 0 30px 0 0;
                position: relative;
                opacity: .6;
                transition: all .3 ease;
                &:last-child {
                    margin: 0;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 3px;
                    left: 0;
                    bottom: 0;
                    background-color: $blue-dark;
                    transition: width .3s ease;
                }
                &:hover::before {
                    width: 100%;
                }
                &.active {
                    color: $main-color;
                    opacity: 1;
                    cursor: auto;
                    &::before {
                        width: 100%;
                        background-color: $main-color;
                    }
                }
            }
        }
    }
}